<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <style>
        .outer {
            margin-top: 2em;
            text-align: center;
            font-weight: 300;
            color: rgb(86, 86, 231);
        }

        .outer h1 {
            margin-top: 0;
        }

        .outer h3 {
            font-weight: 100;
            margin-bottom: 1em;
        }
    </style>
    <title>About Us</title>
</head>

<body>
    {{>navbar}}
    <div class="outer">
        <p>Hai</p>
        <h1>My name is <span>Faiza Fiaz</span></h1>
        <h3>I am 13<sup>th</sup> year old Pakistani Developer</h3>
        <a href="/"><button class="btn btn-outline-light">Go Back</button></a>
    </div>
</body>

</html>