<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/error.css">
    <title>Error</title>
</head>

<body>
    {{>navbar}}
    <div id="err">
        <div class="outer">
            <h1>404</h1>
            <h3>Page Does Not Found</h3>
            <a href="/"><button class="btn btn-outline-primary">Go Back</button></a>
        </div>
    </div>
</body>

</html>