<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/home.css">
    <title>Form Register</title>
</head>

<body>
    <div class="main">
        <div class="outer">
            {{>navbar}}
            <h1>Welcome to MERN</h1>
        </div>
    </div>
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                    <h3>Magna tempus sed amet aliquam veroeros</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet,
                    lectus arcu.</p>
            </article>
        </div>
    </div>
</body>

</html>