<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>Form Register</title>
</head>

<body>
    <div class="main">
        {{>navbar}}
        <h1>I am Faiza Fiaz</h1>
    </div>
</body>

</html>