<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="main">
        <div class="outer">
            {{>navbar}}
            <h1>Login</h1>
        </div>
        <div class="inner">
        <div class="img">
            <img height="50em" width="50em" src="img/airplane.jpg" alt="">
        </div>
            <form class="form">
                <input type="text" name="name" id="name">
                <input type="text" name="email" id="email">
                <input type="password" name="password" id="password">
                <input type="text" name="lastName" id="lastName">
                <input type="text" name="phone" id="phone">
                <input type="number" name="age" id="age">
                <input type="password" name="password2" id="password2">
                <div class="submit">
                    <button id="login">Login</button>
                    <button id="register">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>