<div class="inner">
    <div class="middle">
        <div class="img">
            <img src="img/airplane.jpg" alt="">
        </div>
        <div class="middle-form">
            <form class="form" method="POST">
                <div class="name-div">
                    <input type="text" name="name" id="name" placeholder="First Name" required>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name" required>
                </div>
                <div class="info">
                    <input type="number" name="age" id="age" placeholder="Age" required>
                    <input type="radio" name="gender" value="male" required> Male<br>
                    <input type="radio" name="gender" value="female" required> Female<br>
                </div>
                <div class="contact">
                    <input type="text" name="email" id="email" placeholder="Email" required>
                    <input type="number" name="phone" id="phone" placeholder="Phone No" required>
                </div>
                <div class="password-div">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="password2" id="password2" placeholder="Confirm Password" required>
                </div>
                <button id="login" class="btn btn-outline-primary">{{title}}</button>
            </form>
        </div>
    </div>
</div>