.main {
  margin: 0;
}
.inner {
  margin: 1em 0 0 7em;
  background-color: #ffffff;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 65em;
}

.outer h1 {
  margin-top: 2em;
}
.middle {
  background-color: rgb(81, 189, 231);
  display: flex;
  flex-direction: row;
  border-radius: 1em 0 0 1em;
  width: 60em;
  margin: 0 2em;
  height: 20em;
}

.img {
  border: 10px solid;
  background-color: #ffffff;
  border-radius: 10em;
  margin: 4em;
}

img {
  height: 10em;
  width: 10em;
}

.form {
  background-color: #cfd0d3;
  margin: 1em -24px;
  padding: 1em 4em;
  position: absolute;
  border-radius: 5em 0 0 5em;
  height: 18em;
}

.form div {
  display: flex;
  flex-direction: row;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="password"],
.form input[type="email"] {
  color: rgb(81, 189, 231);
  border: 3px solid rgb(81, 189, 231);
  height: 40px;
  width: 15em;
  margin: 5px 5px 10px 5px;
}

.form ::placeholder {
  color: rgb(81, 189, 231);
}

.form button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 11px 12px 0;
}

@media (max-width: 768px) {
  .inner {
    margin: 0;
  }
}
