@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap");
body {
  background-color: #010028;
  background-image: url("./../img/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: pink;
}

.outer {
  font-weight: 500;
}

.outer h1 {
  text-align: center;
  font-weight: bolder;
  margin-top: 3em;
}

